body{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
}

/* Navigation Bar */
nav, ul, li {
    display: flex;
    width: 90%;
    font-size: 3vh;
    text-align: center;
    font-weight: bold;
    color: white;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: white;
    color: bisque;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
    color: white;
}

#desc{
    color: blueviolet;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 251, 251, 0.5);
}

#home{
    padding: 30px;
    height: 300px;
    text-align: center;
    background-color: white;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid wheat;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./lt.jpg);
}

#signup{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid;
    margin-top: 10px;
    text-decoration: none;
}

#circleImage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#features{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    padding: 50px 0;
}

.feature{
    padding: 40px;
    border: 2px solid;
    background-color: white;
    color: blueviolet;
    box-shadow: 20px 20px white;
}

.feature:hover{
    opacity: 0.5;
    color: darkmagenta;
    font-weight: bolder;
}

#contact{
    display: flex;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    color: white;
}

#container{
    background-color: white;
    box-shadow: 20px 20px white;
    text-align: center;
    border-radius: 0px 0px 30px 0px;
    border-color: gray;
    border-style: solid;
    width: 300px;
    height: 300px;
    padding: 30px;
}
form{
    display: flex;
    flex-direction: column;
}

#name, #email, #password{
    padding: 10px 30px 10px 30px;
    margin: 10px;
    border-radius: 15px;
    border-color: darkorchid;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: darkorchid;
    font-family: 'Times New Roman', Times, serif;
}

#Login{
    background-color: darkorchid;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#Login:hover{
    background-color: plum;
    font-size: 15px;
    font-weight: bold;
}

#checkbox{
    align-items: start;
    text-align: left;
}

#enquiry{
    padding: 10px 50px 10px 50px;
    background-color: white;
    color: blueviolet;
    border-radius: 20px;
    cursor: pointer;
}

#contactus{
    font-size: 50px;
}

#logontext, #label4{
    color: blueviolet;
}

footer{
    /* background-color: #333; */
    color: #fff;
    text-align: center;
    padding: 20px;
}